.form {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 0em 0.3em;
  width: 100%;
  margin-bottom: 1em;
}
input{
  transition: 0.5s ease-in-out;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 50px;
  width: 100%;
  margin: auto;
  height: 2em;
  color: white;
}
input:focus{
  transform: scale(1.1);
  outline: none;
}